<section>
	<% if user_signed_in? %>
		<section>
			<%= render 'user_info' %>			
		</section>
		<section>
			<%= render 'new_post' %>
		</section>
	<% else %>
		<section>
			<%= render 'not_signed_in' %>
		</section>		
	<% end %>
</section>

<% if posts.any? %>
	<%= render 'all_posts' %>
<% else %>
	<h4>This wall is empty. Be first!</h4>
<% end %>
