<h1>All posts</h1>
<% if user_signed_in? %>
	
<% else %>
	<h2>You are not signed in.</h2>
	<p>
		If you want make a post or a comment, please sign in <%= link_to "Sign in page", new_user_session_path %>
	</p>
<% end %>
<% if @posts.any? %>
	<ul class="posts">
		<% @posts.each do |post| %>
			<li>
				<span class="author">
					<%= post.user_id %>				
				</span>
				<span class="content">
					<%= post.content %>
				</span>
				<span class="timestamp">
			    Posted <%= time_ago_in_words(post.created_at) %> ago.
			  </span>
			</li>
		<% end %>
	</ul>
<% else %>
	<h4>This wall is empty. Be first!</h4>
<% end %>
