@import "bootstrap";

html {
	overflow-y: scroll;
}

body {
	padding-top: 20px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

h2, h4 {
	line-height: 1;
}

h2 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
}

h4 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #999;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

span {
  display: block;
  margin-bottom: 3px;
  line-height: 1;
}

/* forms */

textarea,.uneditable-input {
  border: 1px solid #bbb;
  width: 80%;
  margin-bottom: 15px;
  text-align: center;
  -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.posts {
  list-style: none;
  margin: 0;
  width: 70%;
  li {
    overflow: auto;
    padding: 10px 0;
    border: 1px solid #aeaeae;
    &:last-child {
      border-bottom: 1px solid #aeaeae;
    }
  }
  p {
  	text-align: left;
  }
}

.comments {
  list-style: none;
  margin: 20px 0 0 0;
  width: 99%;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  form {
  	width: 99%;
  	button {
  		text-align: left;
  	}
  }
}

.author {
	color: 167e2d;
	text-align: left;
}

.content {
	margin-left: 5%;
  display: block;
  color: 070e42;
  text-align: left;
}

.timestamp {
  color: 564f27;
  text-align: right;
}